@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* display rgb values */
  --display-color1: #fefaf0;
  --display-color2: #4ab6f5;
  --display-color3: #c1e37d;
  --display-color4: #fffdc3;
  --display-color5: #28908b;

  /* shades */
  --display-shade1: #000000;
  --display-shade2: #ffffff;
  --display-shade3: #282626;
  --display-shade4: #e2e4e6cc;
  --display-shade5: #403f2b;

  /* colors */
  --color1: 254, 250, 240;
  --color2: 74, 182, 245;
  --color3: 193, 227, 125;
  --color4: 255, 253, 195;
  --color5: 40, 144, 139;

  /* shades */
  --shade1: 0, 0, 0;
  --shade2: 255, 255, 255;
  --shade3: 40, 38, 38;
  --shade4: 226, 228, 230;
  --shade5: 64, 63, 43;


  /* property name / size es-s-r-m-l-el*/
  --gapS: .5rem;
  --gapR: 1rem;
  --gapM: 2rem;

  --paddingS: .5rem;
  --paddingR: 1rem;
  --paddingM: 2rem;
  --paddingML: 4rem;
  --paddingL: 7rem;

  --marginS: .5rem;
  --marginR: 1rem;
  --marginM: 2rem;

  /* border radius */
  --borderRadiusR: 1rem;
  --borderRadiusM: 2rem;

  /* fonts */
  --fontSizeS: 16px;
  --fontSizeR: 20px;
  --fontSizeRM: min(30px, 6vw);
  --fontSizeM: min(35px, 8vw);
  --fontSizeL: min(65px, 10vw);
  --fontSizeEL: min(100px, 10vw);

  /* sizes */
  --sizeS: .7rem;
  --sizeR: 1rem;
  --sizeM: 1.5rem;
  --sizeL: 2rem;
  --sizeEL: 3rem;

  /* transition times */
  --transitionTimeR: 400ms;
  --transitionTimeM: 1000ms;
}

*,
*::before,
*::after {
  /* border: 1px solid red !important; */
}

*::selection {
  background-color: rgb(var(--color2));
  color: rgb(var(--shade2));
}

body {
  color: rgb(var(--shade5));
  font-size: var(--fontSizeR);
  background: rgb(var(--shade2));
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: arial;
}

body::-webkit-scrollbar {
  width: .25rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--shade3));
}

body::-webkit-scrollbar-track {
  background-color: rgb(var(--shade2));
}

h1 {
  font-size: var(--fontSizeL);
  font-family: var(--fraunces);
  font-weight: 400;
  color: rgb(var(--shade5));
}

h2 {
  font-size: var(--fontSizeRM);
  font-family: var(--fraunces);
  font-weight: 350;
  color: rgb(var(--shade5))
}

h3 {
  font-size: var(--fontSizeR);
  font-family: var(--fraunces);
  color: rgb(var(--shade2))
}

p {
  max-width: 80ch;
}

section {
  display: grid;
  align-content: flex-start;
  padding: var(--paddingML) var(--paddingML);
}

footer {
  padding: var(--paddingML) var(--paddingML);
}

input,
textarea {
  padding: var(--paddingS);
}

svg {
  width: var(--sizeR);
  height: var(--sizeR);
}


/* classNames */
.mainButton {
  text-transform: capitalize;
  color: rgb(var(--color1));
  background-color: rgb(var(--shade5));
  border-radius: var(--borderRadiusM);
  padding: var(--paddingS) var(--paddingR);
  border: 1px solid rgb(var(--shade5));
  transition: color var(--transitionTimeR), background-color var(--transitionTimeR);
}

.mainButton:hover {
  color: rgb(var(--shade5));
  background-color: var(--changeColor, rgb(var(--color1)));
}

.extraLargeText {
  font-size: var(--fontSizeEL);
  font-family: var(--fraunces);
  line-height: 10vw;
}

@media only screen and (max-width: 600px) {
  section {
    padding: var(--paddingM) var(--paddingM);
  }

  footer {
    padding: var(--paddingM) var(--paddingM);
  }


  .collapsePadding {
    padding: 0 !important;
  }
}