.cont {
    position: relative;
    height: 100dvh;
    display: grid;
    align-items: flex-end;
    z-index: 0;
}

.textCont {
    position: relative;
    z-index: 1;
    display: grid;
    align-content: flex-start;
    text-align: center;
    background-color: rgba(var(--shade5), .5);
    padding: var(--paddingR);
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .cont {
        height: 35dvh;
    }

    .textCont {
        gap: var(--gapR);
    }

}